* {
    margin: 0;
    padding: 0;

}
html {
    overflow: scroll;
    overflow-x: hidden;
     }
a {
    text-decoration: none;

}

body {

    /* font-family: 'Sono', serif; */
    background-color: #f3f2f1;

}
.navbar
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.login {
    border: 0px;
    height: 70px;
    width: 500px;
    color: #fff;
    background-color: #e94e38;
    font-size: 18px;
    
}
.login:hover
{
    background-color: #ee3219;
}
.search:hover
{
    background-color: #d1d0d1;
}
.search {
    height: 70px;
    width: 120px;
    color: #fff;
    background-color: #e2dee0;
    border: 0px;
    font-size: 25px;
    font-weight: 800;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.logo {
    padding-left: 200px;
}

.header__logo {
    padding-left: 10px;  
    font-size:30px;
    color: #5a6976;
    font-weight: 600;
}
.navbar-nav
{
    margin: 0 0 0 auto;
}
.nav-link
{
    color: #96a6a7;
    text-transform: uppercase;
    font-weight: 600;
}

.top-slide {
    background-image: url(../pictures/wapper-head.jpg);
    background-size: cover;
}

h2 {
    color: #fff;
    padding-top: 58px;
    padding-left: 40%;
}



.select_search {
    margin-left: 15px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding-left: 10px;
}

.select_to {
    width: 425px;
    height: 50px;
    margin-left: 15px;
    margin-top: 40px;
    padding-left: 20px;
}

select {
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.062);
}

.button_search {
    border-radius: 50px;
    height: 50px;
    width: 150px;
    background: #e94e38;
    border: 0PX;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 60px;
}
.button_search:hover
{
    background-color: #ee3219;
}
.nav-item.lin {

padding-left: 20px;
}
   



.fa-user-o {
    padding-right: 10px;
}

header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
        -23px 0 20px -23px rgba(0, 0, 0, .6),
        23px 0 20px -23px rgba(0, 0, 0, .6),
        inset 0 0 40px rgba(0, 0, 0, .1);
}

.main-menu {
    margin-top: 15px;
}

.low_navbar {
    margin-left: 320px;
}

.select_po {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    color: #96a6a7;
    border-color: #96a6a7bd;
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 10px;
}

.filter-button {
    margin-left: 700px;
    margin-top: -60px;

}

.filter {

    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 0px;
    font-size: 30px;
    color: #fff;
}

.li_filter {
    margin-left: -20px;

}

.tey {
    background-color: #1baf5d;
}

.ter {
    background-color: #b6c0c1;
}

.tew {
    background-color: #f19e1f;
}

.tym {
    background-color: #88499c;
}

.card-content {
    margin-top: 30px;
}
.photo_card_2
{
    height: 100px;
   
}
.card_2
{
    margin-top: 30px;
}
.buttom-button
{
    border: none;
    color: #566375;
    background-color:#f3f1f2 ;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.103);
    font-weight: 500;
    font-size: 20px;
}
.container.full
{
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.103);
}
.col.bttom
{
    margin: 10px;
    margin-bottom: 40px;
}
.fa-long-arrow-right
{
    margin-left: 5px;
    color:#566375;
    
}
.row.low
{
    margin-top: 80px;
    margin-bottom: 100px;
  
}
.width-text
{
    font-weight: 500;
    font-size: 25px;
    color: #566375;
}
.low-text
{
    font-size: 18   px; 
    color: #bfc1c2;
}
.row.low
{
 margin-top: 100px;
}
